<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <!--<system.serviceModel>
    <services>
      <service name="FMS.Services.FMSService">
        <endpoint address="net.tcp://localhost:8009/fmsservice"
                  binding="netTcpBinding"
                  contract="FMS.Business.IFMSService"/>
                    
      </service>
    </services>
  </system.serviceModel>-->
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel.MessageLogging" switchValue="Verbose,ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="MessageLog">
            <filter type="" />
          </add>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="G:\WPF\UIW_Amit_June1\WCFLogs\app_tracelog.svclog" type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" name="MessageLog" traceOutputOptions="LogicalOperationStack, DateTime, Timestamp, ProcessId, ThreadId, Callstack">
        <filter type="" />
      </add>
    </sharedListeners>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <remove name="Default" />
        <add initializeData="application2.log" type="System.Diagnostics.TextWriterTraceListener" name="myListener1">
          <filter type="" />
        </add>
      </listeners>
    </trace>
  </system.diagnostics>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_FMS" openTimeout="00:05:00" sendTimeout="00:10:00">
          <reliableSession inactivityTimeout="00:10:00" enabled="true" />
          <security mode="Message">
            <message algorithmSuite="Default" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <diagnostics>
      <messageLogging logEntireMessage="true" logKnownPii="true" logMalformedMessages="false" logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="false" />
    </diagnostics>
  </system.serviceModel>

  <connectionStrings>
    <add name="FMS_Db" connectionString="Data Source=.; Initial Catalog=FMS; persist security info=True; Integrated Security= SSPI" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>