<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="modules" type="Prism.Modularity.ModulesConfigurationSection, Prism.Wpf" />

    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, 
             EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" 
             requirePermission="false" />

  </configSections>

  <!--<connectionStrings>
     Amit - we are using local db  
     connect to sql server using “(localdb)\mssqllocaldb” and with windows authentications
     
    <add name="FMS_DB" connectionString="Data Source=.; Initial Catalog=FMS; persist security info=True; Integrated Security= SSPI" providerName="System.Data.SqlClient" />
  </connectionStrings>-->

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  
  <modules>
    <!--<module assemblyFile="Modules\ModuleA.dll" moduleType="ModuleA.ModuleAModule, ModuleA, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="ModuleA" startupLoaded="true" />-->

    <module assemblyFile="FMS.Modules.Infrastructure.Toolbar.dll" moduleType="FMS.Modules.Infrastructure.Toolbar.ToolbarModule, FMS.Modules.Infrastructure.Toolbar,  
                             Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="ToolbarModule" startupLoaded="true" />

    <module assemblyFile="FMS.Modules.Infrastructure.Statusbar.dll" moduleType="FMS.Modules.Infrastructure.Statusbar.StatusBarModule, FMS.Modules.Infrastructure.Statusbar,
            Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="StatusBarModule" startupLoaded="true" />

    <module assemblyFile="FMS.Modules.Utilities.dll" moduleType="FMS.Modules.Utilities.UtilityModule, FMS.Modules.Utilities,
            Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="UtilityModule" startupLoaded="true" />

    <module assemblyFile="FMS.Modules.BasicInformation.dll" moduleType="FMS.Modules.BasicInformation.BasicInformationModule, FMS.Modules.BasicInformation,
            Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="BasicInformationModule" startupLoaded="true" />
    
    <module assemblyFile="FMS.Modules.ServiceConnectivity.dll" moduleType="FMS.Modules.ServiceConnectivity.ServiceConnectivityModule, FMS.Modules.ServiceConnectivity,
            Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="ServiceConnectivityModule" startupLoaded="true" />
    
    <!--<module assemblyFile="Modules\PluralsightPrismDemo.People.dll" moduleType="PluralsightPrismDemo.People.PeopleModule, PluralsightPrismDemo.People, 
            Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"            moduleName="PeopleModule" startupLoaded="true" />-->

   
    <!--<module assemblyFile="Modules\PluralsightPrismDemo.Services.dll" moduleType="PluralsightPrismDemo.Services.ServicesModule, PluralsightPrismDemo.Services, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="ServicesModule" startupLoaded="true" />-->
  </modules>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="Prism" publicKeyToken="40ee6c3a2184dc59" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-7.0.0.396" newVersion="7.0.0.396" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>

<!--Amit - we are not using this one currently. We directly hard coded the nettcpBinding-->
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NewBinding_FMS_C" openTimeout="00:05:00" sendTimeout="00:10:00" >
          <reliableSession inactivityTimeout ="01:00:00" enabled="true" />
          <security mode="Message">
            <message algorithmSuite="Default" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:8009/FMSService"
                binding="netTcpBinding"
                contract="FMS.Business.IFMSService">
        
      </endpoint>
    </client>
  </system.serviceModel>
  
</configuration>